
.card{
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 50%;
}

.fas{
  color: var(--primary-color);
}

a{
  text-decoration: none;
}

.welcome-message{
  text-align: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.welcome-message p {
  font-size: large;
  color: #3f92b7;
}